<div id="post-<%= post.id %>">
  <% if current_user.likes.find_by(post_id: post.id) %>
    <%= link_to  "좋아요 취소", toggle_like_post_path(post.id), remote: true %>
  <% else %>
    <%= link_to  "좋아요", toggle_like_post_path(post.id), remote: true %>
  <% end %>
</div>